{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "settings": {
        "import/resolver": "meteor"
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "max-len": 0,
        "arrow-body-style": 0,
        "import/extensions": ["error", { "ignore": ["^meteor/", "^/"] }],
        "import/prefer-default-export": "off",
        "func-names": "off",
        "no-underscore-dangle": "off",
        "arrow-parens": "off",
        "linebreak-style": [
            "error",
            "windows"
        ],
        "no-console": "off",
        "comma-dangle": [
            "error",
            "never"
        ],
        "no-unused-vars": 0,
        "no-multiple-empty-lines": "off",
        "react/jsx-filename-extension": 0,
        "indent": [
            "off",
            2
        ],
        "react/require-default-props": 0,
        "react/prefer-stateless-function": 0,
        "react/prop-types": 0,
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": [
                    ""
                ],
                "specialLink": [
                    "hrefLeft",
                    "hrefRight"
                ],
                "aspects": [
                    "noHref",
                    "invalidHref",
                    "preferButton"
                ]
            }
        ]
    }
}